h1,h2,h3{
text-align:center;
font-family: Impact, serif;
}
hr {
  height: 3px;
}
body {
  background-color: lightpink;
}
img {
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
ul{
text-align:center;
}
p{
text-align:center;
background-color:white
}
pre{
width:300px;
backgound-color:white;
}
ul{
background-color:white;
}
pre{
font-size: 30px;
}

